<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wego.mapper.CategoryMapper">
    <resultMap id="BaseResultMap" type="Category">
        <!--@mbg.generated-->
        <!--@Table tb_category-->
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="icon" jdbcType="VARCHAR" property="icon"/>
        <result column="priority" jdbcType="INTEGER" property="priority"/>
        <result column="pid" jdbcType="BIGINT" property="pid"/>
        <result column="info" jdbcType="VARCHAR" property="info"/>
        <result column="state" jdbcType="TINYINT" property="state"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        id, `name`, icon, priority, pid, info, `state`, create_time, update_time
    </sql>

    <select id="selectList" resultMap="BaseResultMap" parameterType="com.wego.entity.query.CategoryQuery">
        select
        <include refid="Base_Column_List"/>
        from tb_category
        <where>
            <if test="id != null">
                and id = #{id}
            </if>
            <if test="name != null and name != ''">
                and name like CONCAT( CONCAT('%',#{name}),'%')
            </if>
            <if test="pid != null">
                and pid = #{id}
            </if>
            <if test="info != null and info != ''">
                or info like CONCAT( CONCAT('%',#{info}),'%')
            </if>
            <if test="state != null">
                and state = #{state}
            </if>
        </where>
        order by update_time desc, priority desc
    </select>
</mapper>